@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');


* {
  box-sizing: border-box;
}

body {
  color: #222;
  font-family: "Poppins", sans-serif;
}

a {
  cursor: pointer;
}

img {
  max-width: 100%;
}

main {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  align-items: center;
  width: 100%;
}

header a {
  text-decoration: none;
  color: inherit;
}

.logo img {
  width: 120px;
  margin-right: 3px;
}

header nav {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-left: 0.3rem;
}

.login-btn {
  padding: 0.5rem 1.2rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.register-btn {
  padding: 0.5rem 0.8rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.homepage-banner {
  display: flex;
  margin-bottom: 3rem;
  align-items: center;
}

.homepage-banner img {
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.homepage-banner-img {
  width: 40rem;
}

.homepage-banner h1 {
  text-align: center;
  font-weight: 500;
  letter-spacing: -1.5px;
  font-size: 3rem;
  margin-bottom: -1rem;
  color: #333;
}

.homepage-banner h5 {
  text-align: center;
  font-size: 1rem;
  letter-spacing: -1px;
  font-weight: 500;
  color: #333;
}

.homepage h4 {
  letter-spacing: -1px;
  font-size: 1.2rem;
  font-weight: 600;
}

.post {
  display: flex;
  flex-direction: column;
}

.post-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.post-img {
  flex-shrink: 0;
  margin-bottom: 0.5rem;
}

.post-img img {
  width: 100%;
  height: 18rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.post time {
  font-size: 1rem;
  color: #333;
}

.post .texts h2 {
  margin: 0;
  font-size: 1.2rem;
}

.post .texts a {
  text-decoration: none;
  color: inherit;
}

.post p.info {
  color: #888;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  gap: 10px;
  align-items: center;
}

.post .author {
  color: #333 !important;
  text-transform: capitalize;
}

.post-page-detail {
  display: flex;
  gap: 10px;
  align-items: center;
}

.post p.summary {
  margin: 10px 0;
  line-height: 1.5rem;
}

form.login,
form.register {
  width: 350px;
  margin: 0 auto;
}

input {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 10px 10px;
  border: 2px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 0.8rem;
}

.homepage-btn {
  margin-top: 2rem;
  font-size: 1.1rem;
  padding: 1rem;
  letter-spacing: -0.5px;
  font-weight: 500;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

button {
  cursor: pointer;
  width: 100%;
  display: block;
  background-color: black;
  border: 0;
  color: #fff;
  border-radius: 5px;
  padding: 11px 0;
  font-size: 0.9rem;
}

form.login h1,
form.register h1 {
  text-align: center;
  color: black;
}

.create-post {
  width: 100%;
}

.edit-post-page {
  width: 100%;
}

.add-post {
  padding: 0.5rem 0.8rem;
  background-color: black;
  color: white;
  border-radius: 5px;
  margin-right: 1rem;
}

.logout-btn {
  padding: 0.5rem 0.8rem;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.username {
  background-color: transparent;
  color: black;
  text-transform: capitalize;
  border-radius: 5px;
  font-weight: 500;
}

.post-page {
  width: 700px;
}

.post-page .image {
  border-radius: 10px;
  display: flex;
  overflow: hidden;
}

.post-page .image img {
  object-fit: cover;
  object-position: center center;
  width: 100%;
}

.post-page a {
  color: #333;
  text-decoration: underline;
}

.post-page h1 {
  text-align: center;
  margin: 1rem 0;
  font-size: 2.2rem;
  letter-spacing: -1px;
}

.post-page time {
  font-weight: 600;
  letter-spacing: -0.5px;
  font-size: 0.9rem;
  color: black;
}

.post-page .author {
  font-size: 1rem;
  letter-spacing: -0.5px;
  font-weight: bold;
  text-transform: capitalize;
}

.post-page-info {
  display: flex;
  justify-content: space-between;
  margin: 1rem 0 3rem 0;
}

.content p {
  line-height: 1.6rem;
  margin: 20px 0;
}

.content p br {
  display: none;
}

.content li {
  margin-bottom: 10px;
}

.post-page a.edit-btn {
  background-color: black;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
}

a svg {
  height: 20px;
}

.copyright {
  font-size: 1rem;
  font-weight: bold;
  color: rgb(226, 226, 226);
  display: flex;
  justify-content: center;
  margin-top: 2.5rem;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: black;
  border-radius: 10px;
  width: 100%;
  margin-top: 5rem;
}

.footer-texts {
  text-align: center;
}

.footer-texts h2 {
  color: rgb(226, 226, 226);
  font-size: 2rem;
  letter-spacing: -1px;
  margin-bottom: -1rem;
  font-weight: 600;
}

.footer-texts h4 {
  color: rgb(226, 226, 226);
  font-weight: 500;
  font-size: 1.1rem;
}

.footer-links {
  display: flex;
  gap: 50px;
  margin-top: 2rem;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.footer-content span {
  color: rgb(226, 226, 226);
  font-size: 1rem;
}

.footer-content h4 {
  color: rgb(226, 226, 226);
  margin-bottom: 0.5rem;
  font-size: 1.25rem;
  letter-spacing: -1px;
}

.news-input {
  display: flex;
  align-items: center;
  background-color: rgb(241 245 249);
  border: 1px solid rgb(203 213 225);
  padding: 0.7rem 0.7rem;
  border-radius: 5px;
  gap: 3px;
}

.news-icon {
  font-size: 1.9rem;
}

.news-input input {
  width: fit-content;
  border: none;
  background-color: transparent;
  padding: 0.5rem;
  outline: none;
  margin-bottom: 0;
  font-size: 1rem;
}

.news-input input::placeholder {
  color: black;
}

.news-container {
  display: flex;
}

.news button {
  width: fit-content;
  padding: 1.1rem 1rem;
  border-radius: 10px;
  margin-left: 0.3rem;
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem 0 2rem 0;
}

.news h1 {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: -1px;
  text-align: center;
}

.news span {
  margin-top: 1.4rem;
  font-weight: 500;
  font-size: 0.9rem;
  letter-spacing: -0.5px;
}

@media screen and (max-width: 942px) {
  .homepage-banner {
    flex-direction: column;
  }
}

@media screen and (max-width: 722px) {
  .post-page {
    width: 100%;
  }
}

@media screen and (max-width: 679px) {
  header {
    display: block;
  }

  header nav {
    gap: 14px;
    margin-top: -1.5rem;
  }

  .post .texts h2 {
    font-size: 1rem;
  }

  .post p.summary {
    font-size: 0.85rem;
  }

  .post time {
    font-size: 0.85rem;
  }

  .post .texts {
    margin-left: 0.5rem;
    width: 100%;
  }

  .post p.info {
    margin-top: -0.4rem;
  }

  .homepage-banner-img {
    width: 100%;
  }

  .news h1 {
    font-size: 1.4rem;
  }

  .news-container {
    flex-direction: column;
    align-items: center;
  }

  .news button {
    margin: 1rem 0 0 0;
    width: 100%;
  }
}

@media screen and (max-width: 498px) {
  .post .texts h2 {
    font-size: 1.5rem;
  }

  .post p.summary {
    font-size: 1rem;
  }

  .post {
    flex-direction: column;
  }

  .username {
    font-size: 1.1rem;
    margin-bottom: 0.3rem;
  }

  .post-page h1 {
    font-size: 1.7rem;
    text-align: start;
  }

  .post-page-info {
    margin-bottom: 4rem;
    display: block;
  } 

  .post-page-detail {
    margin-bottom: 1.1rem;
  }

  .post-page .author {
    font-size: 1.2rem;
  }

  .content {
    padding: 0 1rem;
  }

  .news h1 br {
    display: none;
  }
}

@media screen and (max-width: 391px) {
  .post .texts h2 {
    font-size: 1.1rem;
  }

  .post p.summary {
    font-size: 0.85rem;
  }

  header nav {
    flex-direction: column;
    align-items: baseline;
  }

  .footer-content span {
    font-size: 0.85rem;
  }

  .footer-content h4 {
    font-size: 1rem;
  }

  .copyright {
    font-size: 0.8rem;
  }

  .footer-texts h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  .footer-texts h4 {
    font-size: 0.8rem;
  }

  .footer-links {
    gap: 20px;
  }

  form.login,
  form.register {
    width: 100%;
  }
}

@media screen and (max-width: 278px) {
  .add-post {
    display: block;
    margin-bottom: 1rem;
  }
}